@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
/* Import poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(26, 26, 29);
  --primary-color: rgb(236, 35, 35); /* 41cea4 */
  --primary-color-hover: rgb(221, 28, 28); /* 552d9d*/
  --secondary-color: rgb(140, 140, 143);
  --menu-width: 240px;
  --menu-width-mobile: 80px;
  --right-sidebar-width: 340px;
}

@layer base {
  body {
    @apply font-sans bg-background text-white scroll-smooth;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-2 bg-white/5;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-white/10 hover:bg-white/20 transition;
  }
}
